# Cloudflare credentials
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=

# Worker vars
GITHUB_OWNER=your-github-username
GITHUB_REPO=notion-astro-blog
NOTION_WEBHOOK_EVENT_TYPE=notion-content-updated

# Worker secrets
# Use `wrangler secret put` instead of storing them directly in a file.
# GITHUB_DISPATCH_TOKEN=
# NOTION_WEBHOOK_VERIFICATION_TOKEN=
